.movie-container {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  -ms-grid-columns: 250px 1fr 350px;
  grid-template-columns: 250px 1fr 350px;
  grid-template-rows: auto minmax(800px, auto);
  grid-gap: 20px;
  margin: 0 60px;
}

.cart {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
  font-family: sans-serif;
  padding: 20px;
  border-radius: 10px;
  background-color: #eee;
}

.cart__title {
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.cart__items {
  margin: 0;
  padding: 0;
}

.cart__items-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 20px;
  grid-template-columns: 1fr 50px 20px;
  grid-gap: 10px;
  margin: 0 0 10px 0;
  list-style: none;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.cart__items-item span:nth-child(2) {
  text-align: right;
}

@supports (display: -ms-grid) {
  .cart__items-item span:nth-child(1) {
    -ms-grid-column: 1;
  }
  .cart__items-item span:nth-child(2) {
    -ms-grid-column: 2;
  }
  .cart__items-item span:nth-child(3) {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-column: 3;
  }
}

.cart__items-item *:nth-child(3) {
  text-align: right;
}

.cart__items-item a {
  position: relative;
  top: -10px;
  text-decoration: none;
  font-size: 32px;
  font-weight: 700;
  color: crimson;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.cart__items-item a:hover {
  color: #000;
}

.cart__items-item.list-item-enter {
  opacity: 0;
}

.cart__items-item.list-item-enter-active {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.cart__total {
  border-top: 1px solid #000;
  padding-top: 10px;
  text-align: right;
  padding-right: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.cart__cta-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.cart__cta-buttons button {
  padding: 5px 10px;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #ccc;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

.cart__cta-buttons button.is-cta, .cart__cta-buttons button:hover {
  background-color: deepskyblue;
  color: #fff;
}

.cart__cta-buttons button.is-cta:hover {
  background-color: deeppink;
}

.footer {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: #ddd;
  padding: 20px 0;
  text-align: center;
}

.genre {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  font-family: sans-serif;
  padding: 20px;
  border-radius: 10px;
  background-color: #eee;
}

.genre__title {
  margin-top: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.genre__item {
  display: block;
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 22px;
  cursor: pointer;
}

.genre__item:hover {
  color: deepskyblue;
}

.genre__item.is-active {
  font-weight: 700;
}

.genre__item + .genre__item {
  margin-top: 5px;
}

.intro {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.intro__title {
  color: deepskyblue;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 48px;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px dotted #ddd;
}

.loading {
  margin-top: 20px;
  text-align: center;
  font-family: sans-serif;
}

.movie-product {
  box-sizing: border-box;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: #eee;
}

.movie-product__title {
  margin-top: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 32px;
}

.movie-product__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[4];
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  grid-gap: 20px;
}

.movie-product__item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
  overflow: hidden;
  font-family: sans-serif;
  border-radius: 8px;
  border: 1px solid deepskyblue;
  background-color: #fff;
}

@supports (display: -ms-grid) {
  .movie-product__item:nth-child(1) {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .movie-product__item:nth-child(2) {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .movie-product__item:nth-child(3) {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  .movie-product__item:nth-child(4) {
    -ms-grid-column: 4;
    grid-column: 4;
  }
}

.movie-product__link {
  text-align: center;
}

.movie-product__img {
  max-width: 100%;
  height: 180px;
  margin: 20px 0;
}

.movie-product__heading {
  margin: 20px 0 10px 10px;
}

.movie-product__heading a {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: deeppink;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.movie-product__heading a:hover {
  color: deepskyblue;
}

.movie-product__description {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin: 0 10px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.movie-product__genre {
  position: absolute;
  top: -10px;
  left: 0px;
  margin: 10px 0;
  padding: 5px 10px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 14px;
  border-radius: 0 0 10px 0;
  background: deepskyblue;
}

.movie-product__genre:hover {
  background-color: deeppink;
}

.movie-product__genre a {
  color: white;
  text-decoration: none;
}

.movie-product__genre a:hover {
  color: white;
}

.movie-product__director {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin: 30px 10px;
}

.movie-product__actors {
  font-family: 'Raleway', sans-serif;
  margin: 0 10px;
  font-size: 14px;
}

.movie-product__price {
  margin: 15px;
  text-align: center;
  color: deeppink;
}

.movie-product__price strong {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 28px;
}

.movie-product__cta {
  margin: 10px;
  padding: 5px 10px;
  border: 0;
  border-radius: 8px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: none;
  color: #fff;
  cursor: pointer;
  background-color: deepskyblue;
}

.movie-product__cta:hover {
  background-color: deeppink;
}

.pagination {
  margin-top: 40px;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.pagination__list {
  margin: 0 40% 40px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.pagination__item {
  list-style: none;
}

.pagination__item a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-family: sans-serif;
  background-color: #ccc;
}

.pagination__item:hover a, .pagination__item.is-active a {
  color: #fff;
  background-color: deepskyblue;
}

.pagination__item.is-inactive {
  opacity: .3;
}

.pagination__item.is-inactive a {
  cursor: default;
}

.pagination__item.is-inactive a:hover {
  color: #000;
  background-color: #ccc;
}

.pagination__item + .pagination__item {
  margin-left: 10px;
}

/*# sourceMappingURL=style.css.map */