// ---------------------------------------------
// Helpers
// ---------------------------------------------

@import
	"helpers/config",
	"helpers/flexbox",
	"helpers/grid",
	"helpers/mixins";

// ---------------------------------------------
// Layout
// ---------------------------------------------

@import
	"layout/wrapper-checkout",
	"layout/wrapper-movies",
	"layout/wrapper-shop";

// ---------------------------------------------
// Modules
// ---------------------------------------------

@import
	"modules/ajax-data",
	"modules/bg",
	"modules/cart-checkout",
	"modules/cart-shop",
	"modules/footer",
	"modules/genre",
	"modules/heading",
	"modules/loading",
	"modules/movie-product",
	"modules/order-done",
	"modules/pagination",
	"modules/user-info";