<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<title>Poort80 Vue Web Shop</title>
</head>
<body>
	<div id="app" class="wrapper">
		<div class="intro">
			<h1 class="intro__title">Poort80 Vue Web Shop</h1>
		</div>

		<app-genre></app-genre>

		<div class="movie-container">
			<app-movie-products v-bind:filtered-movies="filteredMovies" v-bind:pagination="pagination"></app-movie-products>
		</div>

		<app-cart></app-cart>		
	</div>

	<script type="text/x-template" id="vue-app-movie-products">
		<div>
			<h3>Movies: {{ pagination.total }}</h3>	

			<section v-if="showPagination">
				<ul class="pagination">
					<li><a href="#" v-on:click="prevPage">Previous</a></li>
					<li v-for="(page, index) in pagination.pages" v-bind:class="{ 'is-active': (pagination.currentPage == index) }"><a href="#" v-on:click="paginatedMovies(index)">{{ page }}</a></li>
					<li><a href="#" v-on:click="nextPage">Next</a></li>
				</ul>
			</section>

			<section class="movie-list">
				<div class="movie-product" v-for="movie in filteredMovies">
					<a href="#" class="movie-product__img" v-bind:href="movie.imdbLink" target="_blank">
						<img v-bind:src="movie.imgThumb" v-bind:alt="movie.title">
					</a>

					<h3 class="movie-product__title">
						<a v-bind:href="movie.imdbLink">{{ movie.title }}</a>
					</h3>

					<p class="movie-product__description">{{ movie.description }}</p>

					<p class="movie-product__genre"><a href="#" v-on:click="filterMovieList(movie.genre)">{{ movie.genre | capitalizeFirstLetter}}</a></p>

					<p class="movie-product__director">Director: {{ movie.director }}</p>

					<ul class="movie-product__actors">
						<li v-for="actor in movie.actors">{{ actor }}</li>
					</ul>

					<p class="movie-product__price"><strong>&euro; {{ movie.price }}</strong></p>

					<button class="movie-product__cta" v-on:click="addToCart($event, movie)">Add to cart</button>
				</div>		
			</section>
		</div>
	</script>

	<script type="text/x-template" id="vue-app-cart">
		<section class="cart">
			<h3 class="cart__title">Shopping cart</h3>

			<ul class="cart__items">
				<li v-for="(value, key, index) in cartItems"><span>{{ value.title }}</span> <span>&euro;{{ value.price }}</span> <a href="#" v-on:click="removeFromCart($event, value, key)">&times;</a></li>
			</ul>

			<p class="cart__total" v-show="total > 0">Total: &euro;{{ total }}</p>

			<div class="cart__cta-buttons">
				<button v-on:click="emptyCart" v-show="total > 0">Empty cart</button>
				<button class="cart__checkout is-cta" v-on:click="checkout" v-show="total > 0">Checkout</button>
			</div>
		</section>
	</script>

	<script type="text/x-template" id="vue-app-genre">
		<section class="genre">
			<h3>Filter by genre:</h3>
			
			<label>
				<input type="radio" name="genre" checked value="" v-on:click="filterMovieList"> Show all
			</label>

			<label v-for="genre in genres">
				<input type="radio" name="genre" v-model="selected" v-bind:value="genre" v-on:click="filterMovieList"> {{ genre | capitalizeFirstLetter }}
			</label>			
		</section>
	</script>

	<script src="js/libs/vue.js"></script>
	<script src="js/libs/axios.js"></script>
	<script src="js/app.js"></script>	
</body>
</html>