<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<title>Vue Web Shop</title>
</head>
<body>
	<div id="vue-app">
		<component :is="selectedComponent">
			<app-loading></app-loading>
		</component>				
	</div>

	<script type="text/x-template" id="vue-app-loading">
		<div class="loading">
			<span class="loading__label">Loading &hellip;</span>
			<img src="img/ajax-loader.gif" class="loading__img">
		</div>
	</script>

	<script type="text/x-template" id="vue-app-shop">
		<section class="wrapper-shop">
			<div class="heading heading--shop">
				<h1 class="heading__title">Vue Web Shop</h1>
			</div>

			<app-genre v-bind:total="movies.length"></app-genre>

			<div class="wrapper-movies">
				<app-movie-products v-bind:filtered-movies="filteredMovies"></app-movie-products>
			</div>

			<app-cart></app-cart>	

			<app-pagination v-bind:pagination="pagination"></app-pagination>

			<footer class="footer footer--shop">
				<app-footer></app-footer>
			</footer>	
		</section>		
	</script>

	<script type="text/x-template" id="vue-app-checkout">
		<section class="wrapper-checkout">
			<div class="heading heading--checkout">
				<h1 class="heading__title">Vue Web Checkout</h1>
			</div>

			<div class="user-info user-info--checkout">
				<h3 class="user-info__title">User information</h3>

				<form action="/" method="post">
					<p class="user-info__row">
						<label class="user-info__item">
							Firstname
							<input type="text" name="firstname" v-model="userData.firstname" placeholder="Firstname">
						</label>
					</p>

					<p class="user-info__row">
						<label class="user-info__item">
							Lastname
							<input type="text" name="lastname" v-model="userData.lastname" placeholder="Lastname">
						</label>
					</p>

					<p class="user-info__row">
						<label class="user-info__item">
							E-mail
							<input type="email" name="email" v-model="userData.email" placeholder="e-mail">
						</label>
					</p>

					<h4 class="user-info__subtitle">Subscribe to our e-mail newsletters</h4>

					<ul class="user-info__row user-info__option-list">
						<li>
							<label class="user-info__item">
								<input type="checkbox" value="monthly" v-model="userData.newsletters">
								Monthly newsletter
							</label>
						</li>
						<li>
							<label class="user-info__item">
								<input type="checkbox" value="promo" v-model="userData.newsletters">
								Promo's
							</label>
						</li>
					</ul>

					<h4 class="user-info__subtitle">Payment options</h4>

					<p class="user-info__row">
						<label class="user-info__item" v-bind:class="{ 'is-active' : userData.paymentMethod == 'ideal' }">
							<input type="radio" value="ideal" v-model="userData.paymentMethod">
							iDeal
						</label>
						
						<label class="user-info__item" v-bind:class="{ 'is-active' : userData.paymentMethod == 'creditcard' }">
							<input type="radio" value="creditcard" v-model="userData.paymentMethod">
							Creditcard
						</label>
					</p>

					<div class="user-info__row payment payment--ideal" v-show="userData.paymentMethod == 'ideal'">
						<ul class="user-info__row user-info__option-list">
							<li v-for="bank in payment.banks" v-bind:class="{ 'is-active' : bank.value == userData.bank }"><label><input type="radio" v-model="userData.bank" v-bind:value="bank.value">{{ bank.name }}</label></li>
						</ul>
					</div>

					<div class="user-info__row payment payment--ideal" v-show="userData.paymentMethod == 'creditcard'">
						<ul class="user-info__row user-info__option-list">
							<li v-for="creditcard in payment.creditcards" v-bind:class="{ 'is-active' : creditcard.value == userData.creditcard }"><label><input type="radio" v-model="userData.creditcard" v-bind:value="creditcard.value">{{ creditcard.name }}</label></li>
						</ul>
					</div>

					<p class="user-info__row">
						<input type="submit" v-on:click.prevent="checkout" v-bind:disabled="!formValid || showJson" class="user-info__submit is-cta" value="Checkout">
					</p>				
				</form>				
			</div>	

			<div class="cart-checkout">
				<h3 class="cart-checkout__title">Cart items</h3>

				<ul class="cart-checkout__items">
					<li v-for="item in cartItems"><span>{{ item.title }}</span> <span>&euro;{{ item.price }},-</span></a></li>
				</ul>

				<p class="cart-checkout__total">
					Total: &euro; {{ userData.total }},-
				</p>

				<p v-show="!showJson">
					<button v-on:click="backToShop" class="cart-checkout__button">Back to the shop</button>
				</p>	
			</div>

			<div class="ajax-data" v-show="showJson">
				<h3 class="ajax-data__title">Ajax call send</h3>		

				<code>{{ userData }}</code>
			</div>

			<footer class="footer footer--checkout">
				<app-footer></app-footer>
			</footer>
		</section>
	</script>

	<script type="text/x-template" id="vue-app-genre">
		<section class="genre">
			<h3 class="genre__title">Filter by genre</h3>
			
			<label class="genre__item" v-bind:class="{ 'is-active' : selected == '' }">
				<input type="radio" name="genre" checked value="" v-on:click="filterMovieList"> Show all ({{ total }})
			</label>

			<label class="genre__item" v-for="genre in genres" v-bind:class="{ 'is-active' : genre.genre == selected }">
				<input type="radio" name="genre" v-model="selected" v-bind:value="genre.genre" v-on:click="filterMovieList"> {{ genre.genre | capitalizeFirstLetter }} ({{ genre.count }})
			</label>			
		</section>
	</script>	

	<script type="text/x-template" id="vue-app-movie-products">
		<section class="movie-product">
			<h3 class="movie-product__title">Movies</h3>		

			<div class="movie-product__list">
				<div class="movie-product__item" v-for="movie in filteredMovies">
					<a href="javascript:;" v-bind:href="movie.imdbLink" class="movie-product__link" target="_blank" title="Open IMDB page">
						<img v-bind:src="movie.imgThumb" class="movie-product__img" v-bind:alt="movie.title">
					</a>

					<h3 class="movie-product__heading">
						<a v-bind:href="movie.imdbLink" class="movie-product__heading-link" title="Open IMDB page" target="_blank">{{ movie.title }}</a>
					</h3>

					<p class="movie-product__description">{{ movie.description }}</p>

					<p class="movie-product__genre"><a href="javascript:;" v-on:click.prevent="filterMovieList(movie.genre)" v-bind:title="'Filter by ' + movie.genre | capitalizeFirstLetter">{{ movie.genre | capitalizeFirstLetter }}</a></p>

					<p class="movie-product__director">Director: {{ movie.director }}</p>

					<ul class="movie-product__actors">
						<li class="movie-product__actors-item" v-for="actor in movie.actors">{{ actor }}</li>
					</ul>

					<p class="movie-product__price"><strong>&euro; {{ movie.price }},-</strong></p>

					<button class="movie-product__cta" v-on:click.prevent="addToCart($event, movie)">Add to cart</button>
				</div>		
			</div>
		</section>
	</script>

	<script type="text/x-template" id="vue-app-cart">
		<section class="cart-shop">
			<h3 class="cart-shop__title">Shopping cart: {{ cartItems.length }} items</h3>

			<transition-group name="list-item" tag="ul" class="cart-shop__items">
				<li class="cart-shop__items-item" v-for="(value, key, index) in cartItems" :key="key"><span>{{ value.title }}</span> <span>&euro;{{ value.price }},-</span> <a href="javascript:;" v-on:click.prevent="removeFromCart($event, value, key)">&times;</a></li>
			</transition-group>

			<p class="cart-shop__total" v-show="total > 0">Total: &euro;{{ total }},-</p>

			<div class="cart-shop__cta-buttons">
				<button v-on:click.prevent="emptyCart" v-show="total > 0">Empty cart</button>
				<button class="cart-shop__checkout is-cta" v-on:click.prevent="checkout" v-show="total > 0">Checkout</button>
			</div>
		</section>
	</script>

	<script type="text/x-template" id="vue-app-pagination">
		<section class="pagination" v-show="pagination.pages > 1">
			<ul class="pagination__list">
				<li class="pagination__item" v-bind:class="{ 'is-inactive' : pagination.currentPage == 0 }"><a href="javascript:;" v-on:click.prevent="prevPage">Previous</a></li>
				<li class="pagination__item" v-for="(page, index) in pagination.pages" v-bind:class="{ 'is-active' : (pagination.currentPage == index) }"><a href="javascript:;" v-on:click.prevent="paginatedMovies(index)">{{ page }}</a></li>
				<li class="pagination__item" v-bind:class="{ 'is-inactive' : pagination.currentPage == (pagination.pages -1) }"><a href="javascript:;" v-on:click.prevent="nextPage">Next</a></li>
			</ul>
		</section>
	</script>

	<script type="text/x-template" id="vue-app-footer">
	    <p>Vue demo JavaScript project, by Dennis Burger, oct. / nov. 2017</p>
	</script>

	<script src="js/libs/vue.js"></script>
	<script src="js/libs/axios.js"></script>
	<script src="js/vue-app.js"></script>
</body>
</html>