<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	<title>Poort80 Vue Web Shop</title>
</head>
<body>
	<div id="app" class="wrapper">
		<div class="intro">
			<h1 class="intro__title">Poort80 Vue Web Shop</h1>
		</div>

		<app-cart></app-cart>

		<app-genre></app-genre>

		<div class="movie-container">
			<h3>Movies</h3>	

			<app-movie-products></app-movie-products>
		</div>
	</div>

	<template id="vue-app-movie-products">
		<section class="movie-list">
			<div class="movie-product" v-for="movie in filteredMovies">
				<a href="#" class="movie-product__img" v-bind:href="movie.imdbLink">
					<img v-bind:src="movie.imgThumb">
				</a>

				<h3 class="movie-product__title">
					<a v-bind:href="movie.imdbLink">{{ movie.title }}</a>
				</h3>

				<p class="movie-product__description">{{ movie.description }}</p>

				<p class="movie-product__genre">Genre: <a href="#" v-on:click="filterByGenre = movie.genre">{{ movie.genre }}</a></p>

				<p class="movie-product__director">Director: {{ movie.director }}</p>

				<ul class="movie-product__actors">
					<li v-for="actor in movie.actors">{{ actor }}</li>
				</ul>

				<p class="movie-product__price"><strong>&euro; {{ movie.price }}</strong></p>

				<button v-on:click="addToCart($event, movie)">Add to cart</button>
			</div>		
		</section>
	</template>

	<template id="vue-app-cart">
		<section class="cart">
			<h3 class="cart__title">Shopping cart</h3>

			<ul class="cart__items">
				<li v-for="(value, key, index) in cartItems">{{ value.title }} &euro;{{ value.price }} <a href="#" v-on:click="removeFromCart($event, value, key)">Remove</a></li>
			</ul>

			<p class="cart__total" v-show="total > 0">Total: &euro;{{ total }}</p>

			<button class="cart__checkout" v-on:click="checkout" v-show="total > 0">Checkout</button>
		</section>
	</template>

	<template id="vue-app-genre">
		<section class="genre">
			<p>
				Filter by genre:
				<select class="genre__selector" v-model="selected" v-on:change="filterMovieList">
					<option value="">Show all</option>
					<option v-for="genre in genres">{{ genre }}</option>
				</select>
			</p>
		</section>
	</template>

	<script src="js/libs/vue.js"></script>
	<script src="js/libs/axios.js"></script>
	<script src="js/app.js"></script>	
</body>
</html>