.wrapper-shop {
	@include display-grid;
	@include grid-template-rows(auto 1fr);
	@include grid-template-columns(250px 1fr 350px);
	grid-template-rows: auto minmax(800px, auto);
	grid-gap: 20px;
	margin: 0 60px;
}