.ajax-data {
	margin: 0;
	padding: 20px;
	color: map-get($color, 03);
	font-family: 'Courier New', mono-space;

	code {
		display: block;
		white-space: pre;
		font-size: 14px;
	}
}

.ajax-data__title {
	margin-top: 0;
	color: map-get($color, 03);
	font-weight: 400;
	font-size: 32px;
	font-family: map-get($fonts, custom);
}