.cart {
	@include grid-row(2);
	@include grid-column(3);
	font-family: sans-serif;
}

.cart__items {
	margin: 0;
	padding: 0;		
}

.cart__items-item {
	@include display-grid;
	@include grid-template-columns(1fr 50px 20px);
	grid-gap: 10px;
	margin: 0 0 10px 0;
	list-style: none;
	font-size: 14px;

	span:nth-child(2){
		text-align: right;
	}

	@include grid-override('edge') {
		span:nth-child(1){
			-ms-grid-column: 1;
		}

		span:nth-child(2){
			-ms-grid-column: 2;
		}

		span:nth-child(3){
			@include grid-column(3);
			-ms-grid-column: 3;
		}
	}

	*:nth-child(3) {
		text-align: right;
	}

	a {
		position: relative;
		top: -7px;
		text-decoration: none;
		font-size: 26px;
		font-weight: 700;
		color: map-get($color, 04);

		&:hover {
			color: #000;
		}
	}
}

.cart__total {
	border-top: 1px solid #000;
	padding-top: 10px;
	text-align: right;
	padding-right: 30px;
	font-weight: 700;
}

.cart__cta-buttons {
	@include flexbox;
	@include justify-content(space-between);

	button {
		border: 0;
		border-radius: 8px;
		padding: 5px 10px;
		font-size: 18px;
		background-color: #ccc;
		color: #000;
		cursor: pointer;

		&.is-cta,
		&:hover {
			background-color: map-get($color, 03);
			color: #fff;
		}

		&.is-cta {
			&:hover {
				background-color: deeppink;
			}
		}
	}
}