.cart-shop {
	@include grid-row(2);
	@include grid-column(3);
	font-family: sans-serif;
	padding: 20px;
	border-radius: 10px;
	background-color: map-get($color, 05);
}

.cart-shop__title {
	margin-top: 0;
	font-family: map-get($fonts, custom);
	font-weight: 400;
	font-size: 28px;
}

.cart-shop__items {
	margin: 0;
	padding: 0;
}

.cart-shop__items-item {
	@include display-grid;
	@include grid-template-columns(1fr 50px 20px);
	grid-gap: 10px;
	margin: 0 0 10px 0;
	list-style: none;
	font-family: map-get($fonts, custom);
	font-size: 18px;
	font-weight: 400;

	span:nth-child(2){
		text-align: right;
		font-family: map-get($fonts, normal);
	}

	@include grid-override('edge') {
		span:nth-child(1){
			-ms-grid-column: 1;
		}

		span:nth-child(2){
			-ms-grid-column: 2;
		}

		span:nth-child(3){
			@include grid-column(3);
			-ms-grid-column: 3;
		}
	}

	*:nth-child(3) {
		text-align: right;
		font-family: map-get($fonts, normal);
	}

	a {
		position: relative;
		top: -10px;
		text-decoration: none;
		font-size: 32px;
		font-weight: 700;
		color: map-get($color, 04);

		&:hover {
			color: map-get($color, 03);
		}
	}

	&.list-item-enter {
		opacity: 0;
	}

	&.list-item-enter-active {
		-webkit-transition: opacity 1s;
		transition: opacity 1s;
	}	
}

.cart-shop__total {
	border-top: 1px solid map-get($color, 03);
	padding-top: 10px;
	text-align: right;
	padding-right: 30px;
	font-family: map-get($fonts, normal);
	font-weight: 700;
	font-size: 24px;
}

.cart-shop__cta-buttons {
	@include flexbox;
	@include justify-content(space-between);

	button {
		padding: 5px 10px;
		border: 0;
		border-radius: 8px;
		font-size: 18px;
		color: map-get($color, 06);
		cursor: pointer;
		outline: none;
		font-family: map-get($fonts, custom);
		font-weight: 400;
		font-size: 18px;
		background-color: map-get($color, 01);

		&.is-cta,
		&:hover {
			color: map-get($color, 06);
			background-color: map-get($color, 02);
		}

		&.is-cta {
			&:hover {
				color: map-get($color, 02);
				border-color: map-get($color, 01);
				background-color: map-get($color, 06);		
			}
		}
	}
}