.cart-checkout {
	@include grid-row(2);
	@include grid-column(3);
	box-sizing: border-box;
	height: 100%;
	padding: 20px;
	border-radius: 10px;
	background-color: map-get($color, 05);

	@include grid-override("edge") {
		margin-left: 5px;
	}
}

.cart-checkout__title {
	margin-top: 0;
	color: map-get($color, 01);
	font-size: 32px;
	font-weight: 400;
	font-family: map-get($fonts, custom);
}

.cart-checkout__items {
	margin: 0;
	padding: 0;

	li {
		@include flexbox;
		@include justify-content(space-between);
		margin: 0 0 10px 0;
		list-style: none;
		font-family: map-get($fonts, custom);
		font-size: 18px;
		font-weight: 400;
	}

	span:nth-child(2) {
		font-family: map-get($fonts, normal);
	}
}

.cart-checkout__total {
	padding-top: 10px;
	text-align: right;
	font-weight: 700;
	font-size: 24px;
	font-family: map-get($fonts, normal);
	border-top: 1px solid map-get($color, 03);
}

.cart-checkout__button {
	padding: 5px 10px;
	border: 0;
	border-radius: 8px;
	font-size: 18px;
	cursor: pointer;
	outline: none;
	color: map-get($color, 06);
	font-weight: 400;
	font-size: 18px;
	font-family: map-get($fonts, custom);
	background-color: map-get($color, 01);

	&.is-cta,
	&:hover {
		color: map-get($color, 06);
		background-color: map-get($color, 02);
	}

	&.is-cta {
		&:hover {
			background-color: deeppink;
		}
	}
}