.footer {
	font-family: map-get($fonts, custom);
	font-size: 22px;
	color: #ccc;
	padding: 20px 0;
	text-align: center;
}

.footer--shop {
	@include grid-row(4);
	@include grid-column(1, 3);
}

.footer--checkout {
	@include grid-row(3);
	@include grid-column(1, 4);
}