.genre {
	grid-column: 1;
	font-family: sans-serif;

	label {
		display: block;
		margin-bottom: 5px;
		font-weight: 700;
		font-size: 16px;
		cursor: pointer;

		&:hover {
			color: deepskyblue;
		}
	}

	label + label {
		margin-top: 5px;
	}
}