.genre {
	@include grid-row(2);
	@include grid-column(1);
	font-family: sans-serif;	
}

.genre__item {
	display: block;
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;

	&:hover {
		color: map-get($color, 01);
	}
}

.genre__item + .genre__item {
	margin-top: 5px;
}