.genre {
	@include grid-row(2);
	@include grid-column(1);
	padding: 20px;
	border-radius: 10px;
	font-family: sans-serif;
	background-color: map-get($color, 05);

	@include grid-override("edge") {
		margin-right: 5px;
	}
}

.genre__title {
	margin-top: 0;
	font-weight: 400;
	font-size: 28px;
	font-family: map-get($fonts, custom);
}

.genre__item {
	display: block;
	margin-bottom: 5px;
	cursor: pointer;
	font-weight: 400;
	font-size: 22px;
	font-family: map-get($fonts, custom);

	&:hover {
		color: map-get($color, 01);
	}

	&.is-active {
		font-weight: 700;
	}
}

.genre__item + .genre__item {
	margin-top: 5px;
}