.heading {
	@include grid-row(1);	
}

.heading--shop {
	@include grid-column(1, 3);
}

.heading--checkout {
	@include grid-column(1, 4);
}

.heading__title {
	color: map-get($color, 01);
	font-family: map-get($fonts, custom);
	font-weight: 400;
	font-size: 48px;
	text-align: center;
	padding: 20px 0;
	border-bottom: 2px dotted #ddd;
}