.movie-product {
	box-sizing: border-box;
	height: 100%;
	padding: 20px;
	border-radius: 10px;
	background-color: map-get($color, 05);
}

.movie-product__title {
	margin-top: 0px;
	font-family: map-get($fonts, custom);
	font-weight: 400;
	font-size: 32px;
}

.movie-product__list {
	@include display-grid;
	@include grid-template-columns(minmax(150px, 1fr), 4);
	grid-gap: 10px;
}

.movie-product__item {
	position: relative;
	@include flexbox;
	@include flex-direction(column);
	box-sizing: border-box;
	height: 100%;
	padding: 5px;
	overflow: hidden;
	font-family: sans-serif;
	border-radius: 8px;
	border: 1px solid map-get($color, 01);
	background-color: map-get($color, 06);

	// nth-child for Win/IE grid	
	&:nth-child(1) {
		@include grid-override('edge') {
			@include grid-column(1);
			margin-right: 5px;
		}
	}
	&:nth-child(2) {
		@include grid-override('edge') {
			@include grid-column(2);
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	&:nth-child(3) {
		@include grid-override('edge') {
			@include grid-column(3);
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	&:nth-child(4) {
		@include grid-override('edge') {
			@include grid-column(4);
			margin-left: 5px;
		}
	}
}

.movie-product__link {
	text-align: center;
}

.movie-product__img {
	max-width: 100%;
	height: 180px;		
	margin: 20px 0;
}

.movie-product__heading {
	margin: 20px 0 10px 10px;

	a {
		font-family: map-get($fonts, custom);
		font-weight: 400;
		font-size: 24px;
		color: map-get($color, 02);
		text-decoration: none;
		-webkit-transition: color .3s;
		transition: color .3s;

		&:hover {
			color: map-get($color, 01);
		}
	}
}

.movie-product__description {
	@include flex(1, 0, auto);
	margin: 0 10px;
	font-size: 12px;
	font-family: map-get($fonts, custom);
	font-size: 18px;
}

.movie-product__genre {
	position: absolute;
	top: -10px;
	left: 0px;
	margin: 10px 0;
	padding: 5px 10px;
	color: white;
	font-family: map-get($fonts, custom);
	font-weight: 400;
	font-size: 14px;
	border-radius: 0 0 10px 0;
	background: map-get($color, 01);

	&:hover {
		background-color: map-get($color, 02);		
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: white;
		}
	}
}

.movie-product__director {
	font-family: map-get($fonts, custom);
	font-weight: 700;
	font-size: 14px;
	margin: 30px 10px;
}

.movie-product__actors {
	font-family: map-get($fonts, custom);
	margin: 0 10px;
	font-size: 14px;
}

.movie-product__price {
	margin: 15px;
	text-align: center;
	color: map-get($color, 02);

	strong {
		font-family: map-get($fonts, normal);
		font-weight: 400;
		font-size: 28px;		
	}
}

.movie-product__cta {
	margin: 10px;
	padding: 5px 10px;
	border: 0;
	border-radius: 8px;
	font-family: map-get($fonts, custom);
	font-weight: 400;
	font-size: 18px;
	outline: none;
	color: map-get($color, 06);
	cursor: pointer;
	background-color: map-get($color, 01);

	&:hover {
		background-color: map-get($color, 02);
	}
}