.movie-product {
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	padding: 20px;
	font-family: sans-serif;
}

.movie-product__title {
	a {
		color: #017bab;
		text-decoration: none;
	}
}

.movie-product__genre {
	a {
		color: #017bab;
		text-decoration: none;
	}
}

.movie-product__description {
	flex: 1 0 auto;
}

.movie-product__img {
	text-align: center;
	max-width: 100%;
	height: auto;
}