.movie-product {
	position: relative;
	display: flex;
	flex-direction: column;
	border: 1px solid #017bab;
	padding: 0px;
	font-family: sans-serif;
	border-radius: 8px;
	overflow: hidden;
}

.movie-product__title {
	margin: 10px 0 10px 10px;

	a {
		font-size: 16px;
		color: deeppink;
		text-decoration: none;

		&:hover {
			color: #017bab;
		}
	}
}

.movie-product__genre {
	position: absolute;
	top: -10px;
	left: 0px;
	margin: 10px 0;
	padding: 5px 10px;
	background: #017bab;
	color: white;
	font-size: 14px;
	border-radius: 0 0 10px 0;

	&:hover {
		background-color: deepskyblue;		
	}

	a {
		color: white;
		text-decoration: none;

		&:hover {
			color: white;
		}
	}
}

.movie-product__description {
	flex: 1 0 auto;
	margin: 0 10px;
	font-size: 14px;
}

.movie-product__img {
	margin-top: 10px;
	text-align: center;

	img {
		max-width: 100%;
		height: 180px;		
	}
}

.movie-product__director {
	font-size: 14px;
	margin: 10px 10px;
}

.movie-product__actors {
	font-size: 14px;
	margin: 0 10px;
}

.movie-product__cta {
	border: 0;
	border-radius: 8px;
	margin: 10px;
	padding: 5px 10px;
	font-size: 18px;
	background-color: #ccc;
	color: #000;
	cursor: pointer;

	&:hover {
		background-color: deepskyblue;
		color: #fff;
	}
}

.movie-product__price {
	margin: 15px;
	color: deeppink;
	font-size: 24px;
	font-weight: 700;
}