.pagination {
	margin-top: 40px;
	@include grid-row(3);
	@include grid-column(2);
}

.pagination__list {
	@include flexbox;
	@include justify-content(center);
	margin: 0;
	padding: 0;
}

.pagination__item {
	list-style: none;

	a {
		display: inline-block;
		padding: 8px 15px;
		border-radius: 8px;
		text-align: center;
		text-decoration: none;
		color: map-get($color, 03);
		font-size: 16px;
		font-family: sans-serif;
		background-color: #ccc;
	}

	&:hover,
	&.is-active {
		a {
			color: map-get($color, 06);
			background-color: map-get($color, 01);
		}
	}

	&.is-inactive {
		opacity: .5;

		a {
			cursor: default;

			&:hover {
				color: map-get($color, 03);
				background-color: #ccc;
			}
		}
	}
}

.pagination__item + .pagination__item {
	margin-left: 5px;
	margin-right: 5px;

	&:last-child {
		margin-right: 0;
	}
}