.pagination {

}

.pagination__list {
	margin: 0 40% 40px;
	padding: 0;
	display: flex;
	justify-content: space-between;		
}

.pagination__item {
	list-style: none;

	a {
		display: inline-block;
		padding: 5px 10px;
		border-radius: 8px;
		text-align: center;
		text-decoration: none;
		color: #000;
		font-size: 16px;
		font-family: sans-serif;
		background-color: #ccc;
	}

	&:hover,
	&.is-active {
		a {
			color: #fff;
			background-color: deepskyblue;
		}
	}
}

.pagination__item + .pagination__item {
	margin-left: 10px;
}