.user-info {
	box-sizing: border-box;
	height: 100%;
	margin: 0 0 20px 0;
	padding: 20px;
	border-radius: 10px;
	font-family: map-get($fonts, custom);
	background-color: map-get($color, 05);
}

.user-info--checkout {
	@include grid-column(2);
}

.user-info__title {
	margin-top: 0;
	color: map-get($color, 01);
	font-size: 32px;
	font-weight: 400;
}

.user-info__subtitle {
	color: map-get($color, 02);
	font-weight: 400;
	font-size: 18px;
}

.user-info__option-list {
	li + li {
		margin-top: 10px;
	}
}

.user-info__row {
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
		list-style: none;

		&.is-active {
			font-weight: 700;
		}
	}	
}

.user-info__row + .user-info__row,
.user-info__row .user-info__row  {
	margin-top: 20px;
}

.user-info__item {
	cursor: pointer;
	font-weight: 400;
	font-size: 18px;

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		display: block;
		box-sizing: border-box;
		width: 100%;
		min-width: 250px;
		margin-top: 10px;
		padding: 10px;
		border-radius: 10px;
		border: 1px solid #ddd;
		font-size: 16px;
		font-family: map-get($fonts, custom);
	}

	&.is-active {
		font-weight: 700;
	}
}

.user-info__submit {
	padding: 5px 10px;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
	outline: none;
	color: map-get($color, 06);
	font-family: map-get($fonts, custom);
	font-weight: 400;
	font-size: 18px;
	background-color: map-get($color, 01);	

	&.is-cta,
	&:hover {
		color: map-get($color, 06);
		background-color: map-get($color, 02);
	}

	&.is-cta {
		&:hover {
			color: map-get($color, 02);
			background-color: map-get($color, 06);	
		}
	}

	&[disabled="disabled"] {
		opacity: .5;
		cursor: default;

		&:hover {
			color: map-get($color, 06);
			background-color: map-get($color, 02);
		}
	}
}