// ---------------------------------------------
// Colors
// ---------------------------------------------

$color: (
	01: deepskyblue,
	02: deeppink,
	03: #444,
	04: crimson,
	05: #eee,
	06: #fff,
	07: #7ead51
);

// ---------------------------------------------
// Fonts
// ---------------------------------------------

$fonts: (
	custom: Raleway + ', sans-serif',
	normal: Helvetica + ', sans-serif',
);